# BurnStation API Configuration

# Port to listen on (strange is better)
PORT=48271

# Directory where ISO and CUE files are located
# When using Docker, this will be mapped to /app/isos inside the container
ISOS_DIR=/home/rafarvns/isos

# Physical device path for the optical drive
DRIVE_DEVICE=/dev/sr0

